@page "/Emails"
@inherits OwningComponentBase
@using Services
@inject IEmailDataService _emailDataService
@using BlazorProject.Models




@if (emails.Count < 0 || emails == null)
{
    <h2>Loading..</h2>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var em in emails)
            {
                <tr>
                    <td>@em.EmailAddress</td>
                    <td><a href="/fetchdata">Delete</a></td>
                    <td><a href="/EditEmail/@em.Id">Edit Email</a></td>
                    <td><a href="/AddTag">Add Tag</a></td>
                    <td><a href="/EditTags/@em.Id">Edit Tag</a></td>
                </tr>
            }
        </tbody>
    </table>
    <input type="text" @bind="@email.EmailAddress" />
    <button type="button" @onclick="AddEmail" class="btn-link btn">CREATE</button>

    }


@code {
    List<Email> emails;
    Email email = new Email();
    string errormessage;

    protected override async Task OnInitializedAsync()
    {
        emails = new List<Email>();
        emails = await _emailDataService.LoadAllData();
    }

    private async Task AddEmail()
    {
        if (email.EmailAddress == "" || email.EmailAddress == null)
        {
            errormessage = "Empty Field";
            return;
        }

        var a = _emailDataService.Create(email);
    }

    //private async Task DeleteEmail(int id)
    //{
    //    await http.DeleteAsync("https://localhost:44357/api/Email/" + id);

    //    await OnInitAsync();
    //}
}